email=carolinel@hzdg.com
always-auth=true
save-exact=true
registry=http://npmregistry.hzdg.com/
//npmregistry.hzdg.com/:_authToken="10kAGqqn+A0+qyQL+MqlL/UGYlfkBSD6971Q9ZO4hsS0NzWxAnSSmmy/CL1alYC64L/1ukVy5Qd3nCmrPdRN7A=="