div[class^='rsg--preview'] {
  position: relative;
  padding: 50px 30px 30px;
  overflow:hidden;
}

div[class^='rsg--preview']:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #989898;
  border-radius: 20px;
  z-index: 3;
}

div[class^='rsg--preview']:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17px;
  background-color: #dadbe0;
  box-sizing: border-box;
  border-bottom: 1px solid #adadad;
}
